<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <h1>The Home Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia nostrum earum eligendi suscipit. Harum
            facere
            autem incidunt culpa perspiciatis veniam earum exercitationem rem natus! Aspernatur totam voluptate harum
            magnam
            numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa consequatur magni quos dignissimos explicabo
            corrupti eaque excepturi odit, dolore doloribus minus, in aliquam rem impedit. Soluta delectus architecto
            natus
            excepturi!</p>
        <%- include('partials/footer')%>